<nav class="c-primary-nav" role="navigation">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">



		<li class="c-primary-nav__item {% if page.url contains '/gui' %}is-active{% endif %}">

			<a href="{{ "/gui/index.html" | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/gui' %} is-active  is-current{% endif %}">

				<span class="c-primary-nav__span">Assets and Resources</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

		

		</li><!-- end c-nav__list__item -->

		
		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/contribute.html" %}
				<a href="{{ "/contribute.html" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/contribute.html' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Contribute</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->



	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
